.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container button {
	border: none;
	margin-top: 2rem;
	font-size: 0.8rem;
	padding: 0.5rem 0.4rem;
	background: rgb(0, 134, 211);
	color: #fff;
	text-decoration: none;
}

.recipe-container {
	width: 33%;
	margin: 2rem;
	padding: 2rem;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-self: start;
	align-items: flex-start;
}

.recipe-container .author {
	margin-bottom: 1rem;
}

.nav-buttons {
	color: #000;
	background: #fff;
}

.nav-buttons a {
	text-decoration: none;
	color: #fff;
	background: rgb(0, 134, 211);
	padding: 0.4rem 0.6rem;
}
